.random-div {
  background-color: red;
}

.login-navbar {
  float: right;
}

.login-navbar-item {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}


/*#thisOne{
  background-image: url("background.png");
  background-size: cover;
  height: 400px;
}*/

body{
  background-image: url("background.png");
  background-size: cover;
}


.top-ad {
  height: auto;
  position: relative;
  text-align: center;
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
background-attachment: fixed;
  background-size: 100%;

}

.title-div {
  top: 10%;
  width: 100%;
  text-align: center;
}

.title {
  margin-top: 56px;
  padding-top: 20px;
  font: Georgia;
  font-size: 75px;
}
 .sub-title {
   font: Georgia;
   font-size: 50px;
 }
 .paragraph {
   width: 100%;
   text-align: center;
 }

 .flow-chart-row {
   align-items: center;
   text-align: center;
   margin: 0;
   height: 250px;
   background: none !important;
   /*border: solid black;*/
 }
 .description-card {
   margin-bottom: 50px;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   background-color: #f5f5dc;
 }
 .description-title {
  font-family: Georgia;
  font-size: 30px;
  text-align: center;
  padding: 20px;
 }
 .description {
   margin-top: 15px;
   font-size: 15px;
   text-align: center;
 }
 .about-us {
   height: 250px;
   margin-bottom:20px;
   background-color: #f5f5dc;
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 30px;
 }
 .front-page-header {
   text-align: center;
   font-family: Georgia;
   font-size: 30px;
   padding-top: 20px;
   width: 100%;
 }
 .about-us-text {
   width: 100%;
   text-align: center;
 }
 .info-below-title {
   text-align: center;
   padding-left: 0px !important;
   padding-right: 0px !important;
 }
 .rowButtons {
   font-family: Georgia;
   font-size: 30px;
   text-align: center;
   margin-right: 5px;
   margin-bottom: 10px;
   background-color: #f5f5dc;
 }
 .meet-the-team {
   height: 450px;
   background-color: 	#f5f5dc;
 }
 .formDiv{
   margin-left: auto;
 }
 .form{
   /*margin-left: 20px;*/
   /*background-color: #f5f5dc;*/
 }
 .formTitle{
   font-size: 50px;
 }
 .buttons{
   text-align: center;
 }
.dropdown2{
  float: right;
  height: 200px;
}
